AWSTemplateFormatVersion: 2010-09-09
Transform: AWS::Serverless-2016-10-31
Description: CloudWatch alarm for Application Load Balancer

Metadata:
  AWS::ServerlessRepo::Application:
    Name: cloudwatch-alarm-about-application-elb
    Description: Create Amazon CloudWatch Alarm about Application Load Balancer.
    Author: Eiji KOMINAMI
    SpdxLicenseId: MIT
    LicenseUrl: s3://eijikominami-test/LICENSE
    ReadmeUrl: s3://eijikominami-test/readme/cloudwatch-alarm-about-application-elb.md
    Labels: []
    HomePageUrl: https://github.com/eijikominami/aws-cloudformation-templates
    SourceCodeUrl: https://github.com/eijikominami/aws-cloudformation-templates

Parameters:
  AlarmLevel:
    Type: String
    Default: NOTICE
    AllowedValues:
      - NOTICE
      - WARNING
    Description: The alarm level of CloudWatch alarms
  CustomAlarmName:
    Type: String
    Default: ''
    Description: The custom Alram name
  LoadBalancer:
    Type: String
    AllowedPattern: .+
    Description: The load balancer name [required]  
  SNSTopicArn:
    Type: String
    AllowedPattern: .+
    Description: The SNS topic ARN [required]
  TargetGroup:
    Type: String
    AllowedPattern: .+
    Description: The target group id [required]
  Environment:
    Type: String
    Default: production
    AllowedValues:
      - production
      - test
      - development
  TagKey:
    Type: String
    Default: createdby
    AllowedPattern: .+
  TagValue:
    Type: String
    Default: aws-cloudformation-templates
    AllowedPattern: .+

Conditions:
  CreateCustomAlarmName: !Not [ !Equals [ !Ref CustomAlarmName, '' ] ]
  CreateNoticeAlarm: !Not [ !Equals [ !Ref AlarmLevel, WARNING ] ]

Resources:
  UnHealthyHost:
    Type: AWS::CloudWatch::Alarm
    Properties:
      ActionsEnabled: true
      AlarmActions:
        - !Ref SNSTopicArn
      AlarmDescription: !Sub '*Application Load Balancer* (${CustomAlarmName}) で *異常なホストが検出* されました。このエラーの詳細は、<https://docs.aws.amazon.com/ja_jp/elasticloadbalancing/latest/application/load-balancer-cloudwatch-metrics.html|Application Load Balancer の CloudWatch メトリクス> をご覧ください。'
      AlarmName: !If
        - CreateCustomAlarmName
        - !Sub Warning-${CustomAlarmName}-ALB-UnHealthyHost
        - Warning-ALB-UnHealthyHost
      ComparisonOperator: GreaterThanOrEqualToThreshold
      Dimensions:
        - Name: TargetGroup
          Value: !Ref TargetGroup
        - Name: LoadBalancer
          Value: !Ref LoadBalancer
      DatapointsToAlarm: 1
      EvaluationPeriods: 1
      MetricName: UnHealthyHostCount
      Namespace: AWS/ApplicationELB
      OKActions:
        - !Ref SNSTopicArn
      Period: 60
      Statistic: Sum
      Threshold: 1
      TreatMissingData: notBreaching
      Tags: 
        - Key: environment
          Value: !Ref Environment
        - Key: !Ref TagKey
          Value: !Ref TagValue
  HTTPCodeTarget5XX:
    Condition: CreateNoticeAlarm
    Type: AWS::CloudWatch::Alarm
    Properties:
      ActionsEnabled: true
      AlarmActions:
        - !Ref SNSTopicArn
      AlarmDescription: !Sub '*Application Load Balancer* (${CustomAlarmName}) で *5XXレスポンスが発生* しました。このエラーの詳細は、<https://docs.aws.amazon.com/ja_jp/elasticloadbalancing/latest/application/load-balancer-cloudwatch-metrics.html|Application Load Balancer の CloudWatch メトリクス> をご覧ください。'
      AlarmName: !If
        - CreateCustomAlarmName
        - !Sub Notice-${CustomAlarmName}-ALB-HTTPCode-Target-5XX-Count
        - Notice-ALB-HTTPCode-Target-5XX-Count
      ComparisonOperator: LessThanOrEqualToThreshold
      Dimensions:
        - Name: TargetGroup
          Value: !Ref TargetGroup
        - Name: LoadBalancer
          Value: !Ref LoadBalancer
      DatapointsToAlarm: 1
      EvaluationPeriods: 1
      MetricName: HTTPCode_Target_5XX_Count
      Namespace: AWS/ApplicationELB
      OKActions:
        - !Ref SNSTopicArn
      Period: 60
      Statistic: Sum
      Threshold: 1
      TreatMissingData: notBreaching
      Tags: 
        - Key: environment
          Value: !Ref Environment
        - Key: !Ref TagKey
          Value: !Ref TagValue